@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Limelight&family=Oswald:wght@300&display=swap');



body {
  font-family: 'Limelight', cursive;
  background-image: url('./images/indiflix background 3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.custom-dark-bg {
  background-color: #171717;
}

.card-text {
  font-family: initial; 
}

.box {
  background-color: $primary;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.modal-content h1 {
  padding: 20px;
}

button .edit-btn {
  background: pink;
}


.custom-btn {
  background-color: #e50914;
  border-color: #e50914;
  color: white;
}

.custom-btn:hover {
  background-color: #ff1f2d;
  border-color: #ff1f2d;
  color: white;
}

.border-strong-black {
  border-color: #000000; 
}

.red-text {
  color: #FF0000;
}

.custom-white-text {
  color: #ffffff; /* Your white color code */
}


#studio-heading {
  margin-top: 0; /* Set the top margin to 0 */
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
